<div #element>
  <h1>Angular HTTP Cache Example</h1>
  <p #content class="content">This example demonstrates how to use HTTP caching in Angular.</p>
  <!-- <button (click)="fetchData()">Fetch Data</button>
  <div *ngIf="data">
    <h2>Data:</h2>
    <pre>{{ data | json }}</pre>
  </div> -->
</div>

<!-- <app-http-cache></app-http-cache> -->

<ul>
  <li><a [routerLink]="['/']" routerLinkActive="router-link-active">Home Page</a></li>
  <li>
    <a [routerLink]="['/http-cache']" routerLinkActive="router-link-active">HTTP Cache Example</a>
  </li>
  <li>
    <a [routerLink]="['/products', 1]" routerLinkActive="router-link-active">Product 1</a>
  </li>
  <li>
    <a [routerLink]="['/products', 3]" routerLinkActive="router-link-active">
      Products 3
    </a>
  </li>
</ul>

<router-outlet></router-outlet>
